# Análise para todos os CSV's do mês

## Importando bilbiotecas e todos os CSV's

In [1]:
import pandas as pd
import numpy as np
import glob

path = r'/home/cesar/Documents/freelas/csv' # use your path
all_files = glob.glob(path + "/*.csv")

## Criando lista de DataFrames com todos os CSV's do mês

In [2]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, encoding="ISO-8859-1", sep=',', header=1)
    dados = df.iloc[6:,[0,1,2,3,4,5,6,7,8]]
    li.append(dados)

len(li)

32

## Replace das vírgulas, formatação das colunas, e criação de todos os describes

In [3]:
dataDescribedAll = []
for i in li:
    i['Label'] = pd.to_datetime(i['Label'])
    i['Ed0Gnd'] = i['Ed0Gnd'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0305'] = i['Ed0305'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0313'] = i['Ed0313'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0320'] = i['Ed0320'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0340'] = i['Ed0340'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0380'] = i['Ed0380'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0395'] = i['Ed0395'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0PAR'] = i['Ed0PAR'].replace('[^\d.]', '', regex=True).astype(float)
    dataDescribedAll.append(i.describe().T)

In [4]:
dataDescribedAll[0]

,count,mean,std,min,25%,50%,75%,max
Ed0Gnd,4319.0,2.164989,2.184340,0.000039,0.000044,0.000047,4.355050,4.805050
Ed0305,4319.0,2.087543,1.427696,0.001578,1.606250,1.789259,2.240211,9.920239
Ed0313,4319.0,4.618782,3.164056,0.000040,2.811885,3.487159,5.778149,12.409870
Ed0320,4319.0,8.290371,5.200071,0.001811,5.873447,6.766483,9.863161,20.591710
Ed0340,4319.0,11.750553,11.059024,0.002907,4.860926,5.459443,19.149555,36.676940
Ed0380,4319.0,14.657663,17.182699,0.006264,2.266529,4.212984,27.294950,51.663650
Ed0395,4319.0,15.247006,18.426389,0.000212,2.338959,3.095158,28.886640,54.576000
Ed0PAR,4319.0,3.483199,2.526689,0.002101,1.386044,3.121741,5.202959,9.996317

In [5]:
df2 = []
for i in range(len(li)):
    df2.append(pd.DataFrame(dataDescribedAll[i], columns = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']))
    df2[i]['Canais'] = ['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR']
df2[1]

,count,mean,std,min,25%,50%,75%,max,Canais
Ed0Gnd,4319.0,2.162959,2.222785,0.000040,0.000044,0.000049,4.375050,5.015050,Ed0Gnd
Ed0305,4319.0,2.168871,1.447012,0.001735,1.746741,1.947966,2.325039,9.968001,Ed0305
Ed0313,4319.0,4.577609,2.989240,0.009492,2.963004,3.616261,5.304794,12.248630,Ed0313
Ed0320,4319.0,7.769408,4.992700,0.000568,5.375259,6.153742,9.312250,20.195410,Ed0320
Ed0340,4319.0,11.064145,10.292690,0.001484,4.675527,5.288151,17.773605,36.053360,Ed0340
Ed0380,4319.0,13.666217,15.708662,0.001698,2.565772,4.188220,25.141885,51.100760,Ed0380
Ed0395,4319.0,14.183097,16.871885,0.000236,2.400060,3.155768,26.787775,54.364350,Ed0395
Ed0PAR,4319.0,4.641993,3.109643,0.001449,1.859170,4.579105,7.141315,9.999539,Ed0PAR

## Encontrando os máximos de todos os canais

In [6]:
#obtém os máximos e respectivos horários(horaMax)
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []

for i in li:    
    a.append(i[['Label', 'Ed0Gnd']][i.Ed0Gnd == i.Ed0Gnd.max()])
    b.append(i[['Label', 'Ed0305']][i.Ed0305 == i.Ed0305.max()])
    c.append(i[['Label', 'Ed0313']][i.Ed0313 == i.Ed0313.max()])
    d.append(i[['Label', 'Ed0320']][i.Ed0320 == i.Ed0320.max()])
    e.append(i[['Label', 'Ed0340']][i.Ed0340 == i.Ed0340.max()])
    f.append(i[['Label', 'Ed0380']][i.Ed0380 == i.Ed0380.max()])
    g.append(i[['Label', 'Ed0395']][i.Ed0395 == i.Ed0395.max()])
    h.append(i[['Label', 'Ed0PAR']][i.Ed0PAR == i.Ed0PAR.max()])

for i in range(len(li)):
    a[i].drop_duplicates(subset ="Ed0Gnd", inplace = True)
    b[i].drop_duplicates(subset ="Ed0305", inplace = True)
    c[i].drop_duplicates(subset ="Ed0313", inplace = True)
    d[i].drop_duplicates(subset ="Ed0320", inplace = True)
    e[i].drop_duplicates(subset ="Ed0340", inplace = True)
    f[i].drop_duplicates(subset ="Ed0380", inplace = True)
    g[i].drop_duplicates(subset ="Ed0395", inplace = True)
    h[i].drop_duplicates(subset ="Ed0PAR", inplace = True)


#     finalA.append(a[i].drop)
    
    
# a[9].drop_duplicates(subset ="Ed0Gnd", inplace = True)
len(h)

32

## Cria novo DataFrame com Canal e horaMax

In [7]:
##### concatena o horaMax
horaMax = []
dataSet = []
canais = np.array(['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR'])

for i in range(len(li)):
    horaMax.append(pd.concat([a[i]['Label'], b[i]['Label'], c[i]['Label'], d[i]['Label'], e[i]['Label'], f[i]['Label'], g[i]['Label'], h[i]['Label']]))
    dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[i]}))

# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[0]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[1]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[2]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[3]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[4]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[5]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[6]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[7]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[8]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[9]})) -> ERRO!!!!!!!!!!!
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[10]}))
# dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[11]}))
dataSet[0]

       Canal             horaMax
3074  Ed0Gnd 2020-06-18 17:03:01
3443  Ed0305 2020-06-18 19:06:01
2702  Ed0313 2020-06-18 14:59:01
2701  Ed0320 2020-06-18 14:58:41
2701  Ed0340 2020-06-18 14:58:41
2701  Ed0380 2020-06-18 14:58:41
2701  Ed0395 2020-06-18 14:58:41
2258  Ed0PAR 2020-06-18 12:31:01

## Mesclar os DataFrames

In [45]:
exportar = []

for i in range(len(li)):
    exportar.append(pd.merge(df2[i],dataSet[i], how='left', left_on=['Canais'], right_on=['Canal']))
    exportar[i].drop('Canais', axis='columns', inplace=True)
    exportar[i].append(pd.Series(["-","-","-","-","-","-","-","-", "-", "-"], index=['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'Canal', 'horaMax']), ignore_index=True)
    exportar[i].append(pd.Series(["-","-","-","-","-","-","-","-", "-", "-"], index=['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max', 'Canal', 'horaMax']), ignore_index=True)
exportar[31]
# exportar[0]
# fodase = pd.DataFrame(exportar)

,count,mean,std,min,25%,50%,75%,max,Canal,horaMax
0,4319.0,2.144709,2.159735,0.000039,0.000043,0.000046,4.305050,4.865050,Ed0Gnd,2020-06-23 17:18:41
1,4319.0,2.147067,1.459698,0.001735,1.755768,1.957822,2.258698,9.977757,Ed0305,2020-06-23 19:55:41
2,4319.0,4.475102,2.739703,0.000040,2.956549,3.685976,5.630187,13.167710,Ed0313,2020-06-23 15:38:21
3,4319.0,7.566501,4.617769,0.001103,5.355564,6.190169,9.469248,21.996230,Ed0320,2020-06-23 15:38:21
4,4319.0,10.751705,9.610014,0.014980,4.943549,5.558188,18.234965,40.207430,Ed0340,2020-06-23 15:38:21
5,4319.0,13.000200,14.944785,0.011889,2.157568,4.237748,25.045970,59.062450,Ed0380,2020-06-23 15:38:21
6,4319.0,13.367209,16.001405,0.000212,2.277610,3.088504,26.321435,62.965180,Ed0395,2020-06-23 15:38:21
7,4319.0,4.011458,2.521663,0.001907,2.723827,3.995478,5.147321,9.998893,Ed0PAR,2020-06-23 15:18:41

In [46]:
finalDataFrame = pd.concat(exportar)
final.head(10)

,count,mean,std,min,25%,50%,75%,max,Canal,horaMax
0,4319.0,2.164989,2.184340,0.000039,0.000044,0.000047,4.355050,4.805050,Ed0Gnd,2020-06-18 17:03:01
1,4319.0,2.087543,1.427696,0.001578,1.606250,1.789259,2.240211,9.920239,Ed0305,2020-06-18 19:06:01
2,4319.0,4.618782,3.164056,0.000040,2.811885,3.487159,5.778149,12.409870,Ed0313,2020-06-18 14:59:01
3,4319.0,8.290371,5.200071,0.001811,5.873447,6.766483,9.863161,20.591710,Ed0320,2020-06-18 14:58:41
4,4319.0,11.750553,11.059024,0.002907,4.860926,5.459443,19.149555,36.676940,Ed0340,2020-06-18 14:58:41
5,4319.0,14.657663,17.182699,0.006264,2.266529,4.212984,27.294950,51.663650,Ed0380,2020-06-18 14:58:41
6,4319.0,15.247006,18.426389,0.000212,2.338959,3.095158,28.886640,54.576000,Ed0395,2020-06-18 14:58:41
7,4319.0,3.483199,2.526689,0.002101,1.386044,3.121741,5.202959,9.996317,Ed0PAR,2020-06-18 12:31:01
0,4319.0,2.162959,2.222785,0.000040,0.000044,0.000049,4.375050,5.015050,Ed0Gnd,2020-12-06 17:56:01
1,4319.0,2.168871,1.447012,0.001735,1.746741,1.947966,2.325039,9.968001,Ed0305,2020-12-06 20:03:21

## Exportar os arquivos CSV's

In [47]:
#exporta o arquivo tratado
# for i in range(len(exportar)):
#     exportar[i].to_csv()
finalDataFrame.to_csv(r'/home/cesar/Documents/freelas/exportcsv/dados100.csv', index = False, header=True)