In [1]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import matplotlib
import datetime as dt
import csv

# %matplotlib inline

In [2]:
df = pd.read_csv('2020_02_19_0000.csv', sep=",", header=1,encoding="ISO-8859-1")

In [3]:
dados =  df.iloc[6:,[0,1,2,3,4,5,6,7]]

In [4]:
dados

,Label,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395
6,2/19/2020 12:00:24 AM,-7.125E-06,1.373862E-04,3.099662E-05,5.588725E-05,6.626497E-05,1.269032E-04,4.907166E-05
7,2/19/2020 12:00:44 AM,-6.65E-06,1.400219E-04,2.619038E-05,5.415678E-05,6.982882E-05,1.19627E-04,5.438134E-05
8,2/19/2020 12:01:04 AM,-7.25E-06,1.343527E-04,2.810055E-05,5.480016E-05,6.927498E-05,1.246814E-04,5.481443E-05
9,2/19/2020 12:01:24 AM,-0.0000077,1.330099E-04,2.843946E-05,5.644189E-05,7.404284E-05,1.27903E-04,5.107253E-05
10,2/19/2020 12:01:44 AM,-7.65E-06,1.408673E-04,3.814437E-05,5.309187E-05,6.566296E-05,1.294026E-04,4.949608E-05
...,...,...,...,...,...,...,...,...
4320,2/19/2020 11:58:24 PM,-7.45E-06,1.382316E-04,1.035443E-05,5.517731E-05,7.616189E-05,8.219091E-05,3.932712E-05
4321,2/19/2020 11:58:44 PM,-0.0000097,1.287331E-04,1.737894E-05,5.502201E-05,6.835994E-05,8.785632E-05,3.466706E-05
4322,2/19/2020 11:59:04 PM,-9.45E-06,1.30424E-04,1.630062E-05,5.191603E-05,6.756529E-05,7.669214E-05,3.269217E-05
4323,2/19/2020 11:59:24 PM,-9.85E-06,1.194336E-04,2.280137E-05,5.493327E-05,6.761345E-05,8.546796E-05,3.672858E-05
4324,2/19/2020 11:59:44 PM,-0.0000084,1.175935E-04,2.082957E-05,5.047397E-05,6.804689E-05,8.446819E-05,3.503086E-05

In [5]:
eixoX = df.iloc[6:,[0]]

In [6]:
eixoY =  df.iloc[6:,[1,2,3,4,5,6,7]]

In [7]:
eixoY = eixoY.astype('float64')

In [8]:
#eixoY.info()

In [9]:
eixoY = eixoY.astype('float64')

In [10]:
eixoX = eixoX.apply(pd.to_datetime)

In [11]:
Ed0350 = df.iloc[6:, [0,2]]

In [12]:
#eixoY

In [13]:

#dadosFormat = pd.DataFrame(index=[Label], columns=list(eixoY))

In [14]:
a = (dados[['Label', 'Ed0Gnd']][dados.Ed0Gnd == dados.Ed0Gnd.max()])
#b = (dados[[dados.Label, eixoY([''])]][eixoY == eixoY.max()])
#b = (dados[['Label']][dados == dados.describe()])

a

                     Label    Ed0Gnd
2516  2/19/2020 1:57:04 PM  9.95E-06
3102  2/19/2020 5:12:24 PM  9.95E-06

In [15]:
# dadosFormat = dadosFormat.astype('float64')

In [16]:
# dadosFormat.head()

In [17]:
#dados2 = dados.Ed0Gnd.astype('float64')

In [18]:
#dados2

In [19]:
a.to_csv('dadosMaximos.csv')

In [20]:
label_series = pd.to_datetime(dados['Label'])

In [21]:
label_index = pd.DatetimeIndex(label_series.values)

In [22]:
#dados = dados.set_index(pd.DatetimeIndex(Label))

In [23]:
label_index

DatetimeIndex(['2020-02-19 00:00:24', '2020-02-19 00:00:44',
               '2020-02-19 00:01:04', '2020-02-19 00:01:24',
               '2020-02-19 00:01:44', '2020-02-19 00:02:04',
               '2020-02-19 00:02:24', '2020-02-19 00:02:44',
               '2020-02-19 00:03:04', '2020-02-19 00:03:24',
               ...
               '2020-02-19 23:56:44', '2020-02-19 23:57:04',
               '2020-02-19 23:57:24', '2020-02-19 23:57:44',
               '2020-02-19 23:58:04', '2020-02-19 23:58:24',
               '2020-02-19 23:58:44', '2020-02-19 23:59:04',
               '2020-02-19 23:59:24', '2020-02-19 23:59:44'],
              dtype='datetime64[ns]', length=4319, freq=None)

In [24]:
dados2 = dados.set_index(label_index)

In [25]:
dados2.drop('Label', axis=1, inplace=True)

In [26]:
dados2 = dados2.astype('float64')

In [27]:
dados2[(dados2.Ed0Gnd == dados2.Ed0Gnd.max())]

,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395
2020-02-19 16:36:44,0.000028,1.802644,5.043318,7.669861,12.49186,14.65578,15.08206

In [28]:
#dados2.groupby([dados2.index], sort=True)["Ed0313"].max()

In [29]:
dados2.describe()

,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395
count,4.319000e+03,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000
mean,-1.642255e+01,1.786869,5.486876,8.809154,15.816356,21.030778,22.118958
std,1.270440e+02,2.934964,7.878192,12.066685,20.847267,27.634477,29.104336
min,-9.990000e+02,0.000086,0.000004,0.000037,0.000043,0.000032,0.000016
25%,-9.650000e-06,0.000141,0.000027,0.000056,0.000071,0.000093,0.000042
50%,-7.500000e-06,0.006304,0.081971,0.339180,1.341489,1.555646,1.529524
75%,5.000000e-07,2.568159,9.664127,16.340160,30.227045,41.863770,44.482740
max,2.755000e-05,10.101090,25.448950,38.137190,65.036770,85.910210,91.292480

## Separando os canais

In [30]:
canal1 = dados2.iloc[:,[0]]
canal2 = dados2.iloc[:,[1]]
canal3 = dados2.iloc[:,[2]]
canal4 = dados2.iloc[:,[3]]
canal5 = dados2.iloc[:,[4]]
canal6 = dados2.iloc[:,[5]]
canal7 = dados2.iloc[:,[6]]

## Pegando hora e máximo de cada canal

In [48]:
canal1.head()

                       Ed0Gnd
2020-02-19 00:00:24 -0.000007
2020-02-19 00:00:44 -0.000007
2020-02-19 00:01:04 -0.000007
2020-02-19 00:01:24 -0.000008
2020-02-19 00:01:44 -0.000008

In [49]:
canal2.head()

                       Ed0305
2020-02-19 00:00:24  0.000137
2020-02-19 00:00:44  0.000140
2020-02-19 00:01:04  0.000134
2020-02-19 00:01:24  0.000133
2020-02-19 00:01:44  0.000141

In [50]:
canal3.head()

                       Ed0313
2020-02-19 00:00:24  0.000031
2020-02-19 00:00:44  0.000026
2020-02-19 00:01:04  0.000028
2020-02-19 00:01:24  0.000028
2020-02-19 00:01:44  0.000038

In [51]:
canal4.head()

                       Ed0320
2020-02-19 00:00:24  0.000056
2020-02-19 00:00:44  0.000054
2020-02-19 00:01:04  0.000055
2020-02-19 00:01:24  0.000056
2020-02-19 00:01:44  0.000053

In [52]:
canal5.head()

                       Ed0340
2020-02-19 00:00:24  0.000066
2020-02-19 00:00:44  0.000070
2020-02-19 00:01:04  0.000069
2020-02-19 00:01:24  0.000074
2020-02-19 00:01:44  0.000066

In [53]:
canal6.head()

                       Ed0380
2020-02-19 00:00:24  0.000127
2020-02-19 00:00:44  0.000120
2020-02-19 00:01:04  0.000125
2020-02-19 00:01:24  0.000128
2020-02-19 00:01:44  0.000129

In [54]:
canal7.head()

                       Ed0395
2020-02-19 00:00:24  0.000049
2020-02-19 00:00:44  0.000054
2020-02-19 00:01:04  0.000055
2020-02-19 00:01:24  0.000051
2020-02-19 00:01:44  0.000049

In [40]:
maxCanal1 = canal1[(canal1.Ed0Gnd == canal1.Ed0Gnd.max())]
maxCanal2 = canal2[(canal2.Ed0305 == canal2.Ed0305.max())]
maxCanal3 = canal3[(canal3.Ed0313 == canal3.Ed0313.max())]
maxCanal4 = canal4[(canal4.Ed0320 == canal4.Ed0320.max())]
maxCanal5 = canal5[(canal5.Ed0340 == canal5.Ed0340.max())]
maxCanal6 = canal6[(canal6.Ed0380 == canal6.Ed0380.max())]
maxCanal7 = canal7[(canal7.Ed0395 == canal7.Ed0395.max())]
# dados3[(dados3.Ed0313 == dados3.Ed0313.min())]

In [32]:
maxCanal1

                       Ed0Gnd
2020-02-19 16:36:44  0.000028

In [33]:
maxCanal2

                       Ed0305
2020-02-19 15:01:44  10.10109

In [34]:
maxCanal3

                       Ed0313
2020-02-19 15:01:44  25.44895

In [35]:
maxCanal4

                       Ed0320
2020-02-19 15:01:44  38.13719

In [36]:
maxCanal5

                       Ed0340
2020-02-19 15:54:44  65.03677

In [37]:
maxCanal6

                       Ed0380
2020-02-19 15:54:44  85.91021

In [38]:
maxCanal7

                       Ed0395
2020-02-19 16:03:24  91.29248

In [39]:
dados2.describe()

,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395
count,4.319000e+03,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000
mean,-1.642255e+01,1.786869,5.486876,8.809154,15.816356,21.030778,22.118958
std,1.270440e+02,2.934964,7.878192,12.066685,20.847267,27.634477,29.104336
min,-9.990000e+02,0.000086,0.000004,0.000037,0.000043,0.000032,0.000016
25%,-9.650000e-06,0.000141,0.000027,0.000056,0.000071,0.000093,0.000042
50%,-7.500000e-06,0.006304,0.081971,0.339180,1.341489,1.555646,1.529524
75%,5.000000e-07,2.568159,9.664127,16.340160,30.227045,41.863770,44.482740
max,2.755000e-05,10.101090,25.448950,38.137190,65.036770,85.910210,91.292480