# Análise para todos os CSV's do mês

## Importando bilbiotecas e todos os CSV's

In [1]:
import pandas as pd
import numpy as np
import glob

path = r'/home/cesar/Documents/freelas/csv' # use your path
all_files = glob.glob(path + "/*.csv")

## Criando lista de DataFrames com todos os CSV's do mês

In [2]:
li = []

for filename in all_files:
    df = pd.read_csv(filename, encoding="ISO-8859-1", sep=',', header=1)
    dados = df.iloc[6:,[0,1,2,3,4,5,6,7,8]]
    li.append(dados)

len(li)

32

## Replace das vírgulas, formatação das colunas, e criação de todos os describes

In [3]:
dataDescribedAll = []
for i in li:
    i['Label'] = pd.to_datetime(i['Label'])
    i['Ed0Gnd'] = i['Ed0Gnd'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0305'] = i['Ed0305'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0313'] = i['Ed0313'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0320'] = i['Ed0320'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0340'] = i['Ed0340'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0380'] = i['Ed0380'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0395'] = i['Ed0395'].replace('[^\d.]', '', regex=True).astype(float)
    i['Ed0PAR'] = i['Ed0PAR'].replace('[^\d.]', '', regex=True).astype(float)
    dataDescribedAll.append(i.describe().T)

dataDescribedAll[0]

,count,mean,std,min,25%,50%,75%,max
Ed0Gnd,4319.0,2.164989,2.184340,0.000039,0.000044,0.000047,4.355050,4.805050
Ed0305,4319.0,2.087543,1.427696,0.001578,1.606250,1.789259,2.240211,9.920239
Ed0313,4319.0,4.618782,3.164056,0.000040,2.811885,3.487159,5.778149,12.409870
Ed0320,4319.0,8.290371,5.200071,0.001811,5.873447,6.766483,9.863161,20.591710
Ed0340,4319.0,11.750553,11.059024,0.002907,4.860926,5.459443,19.149555,36.676940
Ed0380,4319.0,14.657663,17.182699,0.006264,2.266529,4.212984,27.294950,51.663650
Ed0395,4319.0,15.247006,18.426389,0.000212,2.338959,3.095158,28.886640,54.576000
Ed0PAR,4319.0,3.483199,2.526689,0.002101,1.386044,3.121741,5.202959,9.996317

## Encontrando os máximos de todos os canais

In [4]:
#obtém os máximos e respectivos horários(horaMax)
a = []
b = []
c = []
d = []
e = []
f = []
g = []
h = []

for i in li:    
    a.append(i[['Label', 'Ed0Gnd']][i.Ed0Gnd == i.Ed0Gnd.max()])
    b.append(i[['Label', 'Ed0305']][i.Ed0305 == i.Ed0305.max()])
    c.append(i[['Label', 'Ed0313']][i.Ed0313 == i.Ed0313.max()])
    d.append(i[['Label', 'Ed0320']][i.Ed0320 == i.Ed0320.max()])
    e.append(i[['Label', 'Ed0340']][i.Ed0340 == i.Ed0340.max()])
    f.append(i[['Label', 'Ed0380']][i.Ed0380 == i.Ed0380.max()])
    g.append(i[['Label', 'Ed0395']][i.Ed0395 == i.Ed0395.max()])
    h.append(i[['Label', 'Ed0PAR']][i.Ed0PAR == i.Ed0PAR.max()])
b[2]

                   Label    Ed0305
3592 2020-06-28 19:55:41  9.982384

## Cria novo DataFrame com Canal e horaMax

In [5]:
##### concatena o horaMax
canais = np.array(['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR'])
horaMax = []
dataSet = []
for i in range(len(li)):
    horaMax.append(pd.concat([a[i]['Label'], b[i]['Label'], c[i]['Label'], d[i]['Label'], e[i]['Label'], f[i]['Label'], g[i]['Label'], h[i]['Label']]))

dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[0]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[1]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[2]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[3]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[4]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[5]}))
dataSet.append(pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax[6]}))
dataSet[6]
# dataset = pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax})
# dataset
# dataset[15]

       Canal             horaMax
3180  Ed0Gnd 2020-06-24 17:38:21
2000  Ed0305 2020-06-24 11:05:01
2757  Ed0313 2020-06-24 15:17:21
2757  Ed0320 2020-06-24 15:17:21
2757  Ed0340 2020-06-24 15:17:21
2757  Ed0380 2020-06-24 15:17:21
2757  Ed0395 2020-06-24 15:17:21
2300  Ed0PAR 2020-06-24 12:45:01

In [6]:
# #converte formato das colunas
# frame.Label = pd.to_datetime(frame.Label)
# frame.Ed0305 = frame.Ed0305.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0313 = frame.Ed0313.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0320 = frame.Ed0320.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0340 = frame.Ed0340.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0380 = frame.Ed0380.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0395 = frame.Ed0395.replace('[^\d.]', '', regex=True).astype(float)
# frame.Ed0PAR = frame.Ed0PAR.replace('[^\d.]', '', regex=True).astype(float)

In [7]:
# frame

In [8]:
# # Coluna 'Data'
# frame['Data'] = frame.Label.dt.strftime('%Y-%d-%m')
# # Coluna 'Hora'
# frame['Hora'] = frame.Label.dt.strftime('%H:%M:%S')

In [9]:
# grouped = frame[['Ed0305', 'Ed0313']].groupby(frame['Label'])
# #'Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR'

In [10]:
# grouped.max()

In [11]:
# df2 = []
# for i in dataDescribedAll:
#     df2.append(pd.DataFrame(i, columns = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max']))
#     df2['Ed0'] = ['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR']

# #ajuste para comparação do data(describe) com horaMax
# df2 = pd.DataFrame(data, columns = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])
# #df2['nova_coluna'] = 'NaN'
# df2['Ed0'] = ['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR']
# # print(df2)
# df2