# Análise para um csv

## Importações e leitura do csv

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

df = pd.read_csv('/home/cesar/Documents/freelas/csv/2020_06_01_0000.csv', encoding="ISO-8859-1", sep=',', header=1)

## Ajuste do cabeçalho

In [2]:
#ajusta o cabeçalho
dados = df.iloc[6:,[0,1,2,3,4,5,6,7,8]]
dados.head()

,Label,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395,Ed0PAR
6,01/06/2020 00:00:20,4.353846E-05,2.328788E-03,-2.794245E-05,6.524796E-04,-3.58194E-05,5.735656E-05,2.979577E-04,1.666289E-07
7,01/06/2020 00:00:41,4.452381E-05,2.324106E-03,-3.15592E-05,6.601092E-04,-3.539717E-05,4.771944E-05,2.963276E-04,1.668402E-07
8,01/06/2020 00:01:01,0.0000443,2.322959E-03,-3.092106E-05,6.594509E-04,-3.917808E-05,6.719106E-05,2.972952E-04,1.667456E-07
9,01/06/2020 00:01:21,0.0000442,2.311091E-03,-3.143747E-05,6.60908E-04,-3.317276E-05,6.104958E-05,2.915988E-04,1.662289E-07
10,01/06/2020 00:01:41,4.305E-05,2.330502E-03,-2.97075E-05,6.643398E-04,-3.436173E-05,5.22831E-05,2.985449E-04,1.650455E-07

## Replace das vírgulas e formatação das colunas

In [3]:
#converte formato das colunas
dados.Label = pd.to_datetime(dados.Label)
dados.Ed0Gnd = dados.Ed0Gnd.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0305 = dados.Ed0305.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0313 = dados.Ed0313.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0320 = dados.Ed0320.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0340 = dados.Ed0340.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0380 = dados.Ed0380.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0395 = dados.Ed0395.replace('[^\d.]', '', regex=True).astype(float)
dados.Ed0PAR = dados.Ed0PAR.replace('[^\d.]', '', regex=True).astype(float)

dados.head()

,Label,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395,Ed0PAR
6,2020-01-06 00:00:20,4.353846,2.328788,2.794245,6.524796,3.581940,5.735656,2.979577,1.666289
7,2020-01-06 00:00:41,4.452381,2.324106,3.155921,6.601092,3.539717,4.771944,2.963276,1.668402
8,2020-01-06 00:01:01,0.000044,2.322959,3.092106,6.594509,3.917808,6.719106,2.972952,1.667456
9,2020-01-06 00:01:21,0.000044,2.311091,3.143747,6.609080,3.317276,6.104958,2.915988,1.662289
10,2020-01-06 00:01:41,4.305050,2.330502,2.970750,6.643398,3.436173,5.228311,2.985449,1.650455

## Faz a estatística descritiva e transpõe o resultado

In [4]:
dados.describe()

,Ed0Gnd,Ed0305,Ed0313,Ed0320,Ed0340,Ed0380,Ed0395,Ed0PAR
count,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000,4319.000000
mean,2.143340,2.366812,4.952980,8.202170,11.797413,15.566234,15.839829,3.022972
std,2.220579,1.439634,3.499040,5.704633,11.653782,17.388835,18.918314,2.669122
min,0.000039,0.001884,0.000040,0.000533,0.001559,0.010562,0.000212,0.003991
25%,0.000044,1.874647,2.852367,5.087878,3.997409,2.950017,2.361434,1.026581
50%,0.000048,2.123181,3.766019,6.066316,5.473549,5.807789,3.497157,2.223126
75%,4.405050,2.647303,6.105589,9.811691,19.357865,28.434180,30.552360,4.063308
max,5.025050,9.981856,13.200840,21.204740,36.986190,52.056870,55.078570,9.990666

In [5]:
#faz a estatística descritiva e transpõe o resultado
data = dados.describe().T
# print(data)
data

,count,mean,std,min,25%,50%,75%,max
Ed0Gnd,4319.0,2.143340,2.220579,0.000039,0.000044,0.000048,4.405050,5.025050
Ed0305,4319.0,2.366812,1.439634,0.001884,1.874647,2.123181,2.647303,9.981856
Ed0313,4319.0,4.952980,3.499040,0.000040,2.852367,3.766019,6.105589,13.200840
Ed0320,4319.0,8.202170,5.704633,0.000533,5.087878,6.066316,9.811691,21.204740
Ed0340,4319.0,11.797413,11.653782,0.001559,3.997409,5.473549,19.357865,36.986190
Ed0380,4319.0,15.566234,17.388835,0.010562,2.950017,5.807789,28.434180,52.056870
Ed0395,4319.0,15.839829,18.918314,0.000212,2.361434,3.497157,30.552360,55.078570
Ed0PAR,4319.0,3.022972,2.669122,0.003991,1.026581,2.223126,4.063308,9.990666

## Criação do DataFrame com os valores de máximo e os quartis

In [6]:
#ajuste para comparação do data(describe) com horaMax
df2 = pd.DataFrame(data, columns = ['count', 'mean', 'std', 'min', '25%', '50%', '75%', 'max'])
#df2['nova_coluna'] = 'NaN'
df2['Ed0'] = ['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR']
# print(df2)
df2

,count,mean,std,min,25%,50%,75%,max,Ed0
Ed0Gnd,4319.0,2.143340,2.220579,0.000039,0.000044,0.000048,4.405050,5.025050,Ed0Gnd
Ed0305,4319.0,2.366812,1.439634,0.001884,1.874647,2.123181,2.647303,9.981856,Ed0305
Ed0313,4319.0,4.952980,3.499040,0.000040,2.852367,3.766019,6.105589,13.200840,Ed0313
Ed0320,4319.0,8.202170,5.704633,0.000533,5.087878,6.066316,9.811691,21.204740,Ed0320
Ed0340,4319.0,11.797413,11.653782,0.001559,3.997409,5.473549,19.357865,36.986190,Ed0340
Ed0380,4319.0,15.566234,17.388835,0.010562,2.950017,5.807789,28.434180,52.056870,Ed0380
Ed0395,4319.0,15.839829,18.918314,0.000212,2.361434,3.497157,30.552360,55.078570,Ed0395
Ed0PAR,4319.0,3.022972,2.669122,0.003991,1.026581,2.223126,4.063308,9.990666,Ed0PAR

In [7]:
#obtém os máximos e respectivos horários(horaMax)
a = (dados[['Label', 'Ed0Gnd']][dados.Ed0Gnd == dados.Ed0Gnd.max()])
b = (dados[['Label', 'Ed0305']][dados.Ed0305 == dados.Ed0305.max()])
c = (dados[['Label', 'Ed0313']][dados.Ed0313 == dados.Ed0313.max()])
d = (dados[['Label', 'Ed0320']][dados.Ed0320 == dados.Ed0320.max()])
e = (dados[['Label', 'Ed0340']][dados.Ed0340 == dados.Ed0340.max()])
f = (dados[['Label', 'Ed0380']][dados.Ed0380 == dados.Ed0380.max()])
g = (dados[['Label', 'Ed0395']][dados.Ed0395 == dados.Ed0395.max()])
h = (dados[['Label', 'Ed0PAR']][dados.Ed0PAR == dados.Ed0PAR.max()])
a
# print(a)
#type(a)

                   Label   Ed0Gnd
2838 2020-01-06 15:44:21  5.02505

In [8]:
b

                   Label    Ed0305
3460 2020-01-06 19:11:41  9.981856

In [9]:
c

                   Label    Ed0313
2702 2020-01-06 14:59:01  13.20084

In [10]:
d

                   Label    Ed0320
2702 2020-01-06 14:59:01  21.20474

In [11]:
e

                   Label    Ed0340
2702 2020-01-06 14:59:01  36.98619

In [12]:
f

                   Label    Ed0380
2702 2020-01-06 14:59:01  52.05687

In [13]:
g

                   Label    Ed0395
2704 2020-01-06 14:59:41  55.07857

In [14]:
h

                   Label    Ed0PAR
3192 2020-01-06 17:42:21  9.990666

## Cria novo DataFrame com Canal e horaMax

In [17]:
#concatena o horaMax
canais = np.array(['Ed0Gnd','Ed0305','Ed0313','Ed0320','Ed0340','Ed0380','Ed0395','Ed0PAR'])
horaMax = pd.concat([a['Label'], b['Label'], c['Label'], d['Label'], e['Label'], f['Label'], g['Label'], h['Label']])
dataset = pd.DataFrame(data = {'Canal':canais, 'horaMax':horaMax})
dataset

       Canal             horaMax
2838  Ed0Gnd 2020-01-06 15:44:21
3460  Ed0305 2020-01-06 19:11:41
2702  Ed0313 2020-01-06 14:59:01
2702  Ed0320 2020-01-06 14:59:01
2702  Ed0340 2020-01-06 14:59:01
2702  Ed0380 2020-01-06 14:59:01
2704  Ed0395 2020-01-06 14:59:41
3192  Ed0PAR 2020-01-06 17:42:21

## Mescla os DataFrames

In [ ]:
#Mescla as tabelas
exportar = pd.merge(df2,dataset, how='left', left_on=['Ed0'], right_on=['Canal'])
exportar

## Exporta o arquivo CSV

In [ ]:
#exporta o arquivo tratado
exportar.to_csv (r'/home/cesar/Documents/freelas/exportcsv/dados30.csv', index = False, header=True)